<div class="container">
    <div class="login-div">
        <div class="row">
            <div class="col"></div>
            <h2>Welcome {{user}}</h2>
            <a routerLink="/transaction">view transactiion history</a>
            <div class="col" style=" background-color: white; border: 2px solid black;;">
                <h2 style="text-align: center; color: darkslategrey;">Deposit Here</h2>
                <form [formGroup]="depositform" (ngSubmit)="Deposit()">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="acno" id="uname" formControlName="ano" placeholder="Account num"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="erroracc" *ngIf="( this.depositform.get('ano')?.touched || this.depositform.get('ano')?.dirty ) && this.depositform.get('ano')?.errors" >*Invalid account number</div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name ="pass" id="pwd" formControlName="pwd" placeholder="password"
                            aria-label="password" aria-describedby="basic-addon2">
                    </div>
                    <div class="erroracc" *ngIf="( this.depositform.get('pwd')?.touched || this.depositform.get('pwd')?.dirty ) && this.depositform.get('pwd')?.errors" >*Invalid pwd</div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="pwd" name="Amount" formControlName="Amount" placeholder="Username"
                            aria-label="password" aria-describedby="basic-addon2">
                    </div>
                    <div class="erroracc" *ngIf="( this.depositform.get('Amount')?.touched || this.depositform.get('Amount')?.dirty ) && this.depositform.get('Amount')?.errors" >*Incorrect amount</div>

                    <div class="input-group mb-3">
                        <p style="color: red;" id="error"></p>
                    </div>
                    <div class="input-group mb-3 login-btn-center">
                        <button type="submit" class="btn btn-primary">Deposit</button>
                    </div>
                </form>
            </div>


            <!-- <div class="col" style=" background-color: white; border: 2px solid black;;">
                <h2 style="text-align: center; color: darkslategrey;">Withdraw here</h2>
                <form (ngSubmit)="Withdraw()">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="acno" id="uname" [(ngModel)]="ano1" placeholder="username"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name ="pass" id="pwd" [(ngModel)]="pwd1" placeholder="password"
                            aria-label="password" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="pwd" name="Amount" [(ngModel)]="Amount1" placeholder="Username"
                            aria-label="password" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <p style="color: red;" id="error"></p>
                    </div>
                    <div class="input-group mb-3 login-btn-center">
                        <button type="submit" class="btn btn-primary">Withdraw</button>
                    </div>
                </form>
            </div> -->
            <div class="col" style=" background-color: white; border: 2px solid black;;">
                <h2 style="text-align: center; color: darkslategrey;">Withdraw here</h2>
                <form [formGroup]="withdrawform" (ngSubmit)="Withdraw()">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="acno" id="uname" formControlName="ano1" placeholder="username"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">

                    </div>
                    <div class="erroracc" *ngIf="( this.withdrawform.get('ano1')?.touched || this.withdrawform.get('ano1')?.dirty ) && this.withdrawform.get('ano1')?.errors" >*Invalid account number</div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name ="pass" id="pwd" formControlName="pwd1" placeholder="password"
                            aria-label="password" aria-describedby="basic-addon2">

                    </div>
                    <div class="erroracc" *ngIf="( this.withdrawform.get('pwd1')?.touched || this.withdrawform.get('pwd1')?.dirty ) && this.withdrawform.get('pwd1')?.errors" >*Invalid pwd</div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="pwd" name="Amount" formControlName="Amount1" placeholder="Username"
                            aria-label="password" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <p style="color: red;" id="error"></p>
                    </div>
                    <div class="input-group mb-3 login-btn-center">
                        <button type="submit" class="btn btn-primary">Withdraw</button>

                    </div>
                    <div class="erroracc" *ngIf="( this.withdrawform.get('Amount1')?.touched || this.withdrawform.get('Amount1')?.dirty ) && this.withdrawform.get('Amount1')?.errors" >*Incorrect amount</div>

                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>